*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 7rem;
    height: 8rem;
    border: 2px solid;
    border-radius: 1rem;
    margin: 1rem;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
