@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.2rem;
}

.header-content{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
    margin-top: -5px;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.nav{
    display: none;
    gap: 1.5rem;
    margin-top: 2rem;
}
@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: var(--primary-color);
    font-size: 1.19rem;
    font-weight: 600;
    transform: color;
    transform: scale();
    /* transition: scale; */
    transition-duration: 0.3s;
}

.nav-link:hover{
    color: orange;
    scale: 1.04;
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    height: 1rem;
    margin-top: 20px;
}

@media screen and (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: blue;
}
.menu-button{
    display: none;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    border-radius: 0.375rem;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (max-width:768px) {
    .menu-button{
        display: block;
    }
}

.main-section{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 2s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        /* transform: translateX(); */
    }
}

.section-label{
    font-size: 1rem;
    padding: 5px;
    color: #2563eb;
    font-weight: 600;
}

.section-title{
    font-size: 2.5rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}
.start-button,.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    height: 1rem;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: blue;
    scale: 1.02;
}
.tour-button:hover{
    background-color: black;
    scale: 1.02;
}
.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    height: 57vh;
}
.section-image{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1.2rem;
    box-shadow: 0px 4px 8px;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
        
    }
    .content-left{
        text-align: left;
        max-width: 50%;
    }
    .content-right{
        width: 50vw;
        display: flex;
        justify-content: right;
        
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section-title{
        font-size: 3rem;
    }
    .image-container{
        height: 70vh;
        width: 25vw;
        margin-left: auto;
    }
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    /* text-align: center; */
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-title{
    font-size: 2rem;
}
.main-description{
    color: var(--gray);
    font-size: 1rem;
}
.feature-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
}
.icon-container{
    background-color: var(--background-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    width: 18rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-container{
    background-color: white;
    margin: 0;
}
.testimonial-content{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    display: flex;
    gap: 2rem;
}
.testimonial-card{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    height: 15rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-image{
    width: 5rem;
    height: 5rem;
}
.testimonial-card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid ;
}
.newsletter-container{
    background-color: var(--background-color);
    height: 40vh;
    padding: 2rem;
}
.newsletter-content{
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(179, 243, 247);
    height: 100%;
    border-radius: 8px;
}
.news-left{
    height: 100%;
    width: 50%;
}
.news-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}
.news-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
    justify-content: center;
    align-items: start;
}
.news-title{
    font-size: 1.5rem;
    color: #3f83f8;
    font-weight: bold;
}
.news-desc{
    text-align: left;
}
.news-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}

.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border: 1px solid;
    border-color: #2563eb;
    box-shadow: 0 2px 4px;
}
.news-button{
    background-color: rgb(80, 95, 232);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.privacy-policy{
    text-align: left;
}
@media screen and (max-width: 640px){
    .news-left{
        display: none;
    }
}
@media screen and (max-width: 914px) {
    .testimonial-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding:  1rem;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}
.footer{
    max-width: 1100px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.footer-top{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.logo{
    height: 5.8rem;
    width: 2rem;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.logo-link{
    display: flex;
    flex-direction: row;
    /* /* justify-content: center; */
    align-items: center; 
    gap: 0.1rem;
    font-size: 1.4rem;
    height: fit-content;
}
.comp-logo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.01rem;
}
.social{
    display: flex;
    gap: 1rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    gap: 7rem;
    padding: 1rem;
}
.footer-grid-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.footer-links-list{
    list-style-type: none;
}
.footer-grid-heading{
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


